body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #fff;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* .fut-conta {
  display: flex;
  align-items: baseline;
} */

/* .fut-co {
  margin-right: 120px;
} */

/* .footer-body {
  background: #2e2f42;
  padding: 100px 0;
} */

/* .text-logo-fut {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
} */

/* .footer-text {
  max-width: 264px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
} */

/* .span-logo-fut {
  color: #f4f4fd;
}

.socia-me {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
} */
/* .sosic-fut {
  display: flex;
  gap: 16px;
} */
/* .sosico-fut {
  width: 40px;
  height: 40px;
} */

/* .icon-fut {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
/* .icon-fut:hover,
.icon-fut:focus {
  background-color: #31d0aa;
} */

/* .iconz {
  fill: #f4f4fd;
}

.subscribe {
  margin-left: auto;
} */

/* .subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
} */

/* .order-form {
  display: flex;
  gap: 24px;
} */

/* .order-form-label {
}

.input-label {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  outline: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input::placeholder {
  color: #ffffff;
}

.input-label:focus {
  border-color: #31d0aa;
} */

/* .submit-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #31d0aa;
}

.iconz-btn {
  margin-left: 16px;
} */

.modal-icon {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-icon.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-icon:not(.is-open) .modal-window {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal-window-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-button:hover,
.modal-window-button:focus {
  background-color: #404bbf;
  border: none;
}

.ico-btn {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-button:hover .ico-btn {
  fill: #ffffff;
}

.modal-window-button:focus .ico-btn {
  fill: #ffffff;
}

.modal-window-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-window-for {
  margin-bottom: 8px;
}

.name-m-w-lab {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.name-m-w-lab-icon {
  position: relative;
}

.m-w-lab-username {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ico-username {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.m-w-lab-username:focus {
  border-color: #4d5ae5;
}

.m-w-lab-username:focus + .ico-username {
  fill: #4d5ae5;
}

.coment {
  margin-bottom: 16px;
}

.text-area {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-area:focus {
  border-color: #4d5ae5;
}

.check-box {
  margin-bottom: 24px;
}

.check-box-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.check-box-label-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.check-box-svg {
}

input:checked + .check-box-label .check-box-label-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy-policy {
  color: #4d5ae5;
}

.subm-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}

.subm-btn:hover,
.subm-btn:focus {
  background-color: #404bbf;
}
/* mobile */
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
/* header */
.header-border {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-text,
.address {
  display: none;
}

.logo-text {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 16px 0;
  display: block;
}

.span-logo {
  color: #2e2f42;
}

.rodzerz-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.rodzerz-icon {
  display: block;
  fill: #2f2f37;
}
/* mobile - menu down*/
.mob-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mob-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mob-menu-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 40px 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mob-menu:not(.is-open) .mob-menu-container {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal-menu-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-menu-button:hover,
.modal-menu-button:focus {
  background-color: #404bbf;
  border: none;
}

.ico-menu-btn {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-menu-button:hover .ico-menu-btn {
  fill: #ffffff;
}

.modal-menu-button:focus .ico-menu-btn {
  fill: #ffffff;
}
/* mobile - menu up*/
/* mobile menu navigation down*/
.mob-menu-nav {
  margin-bottom: auto;
}

.nav-menu-text {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.nav-text-link-menu {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-text-link-menu.ntx {
  color: #404bbf;
}

.nav-text-link-menu::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-text-link-menu:hover::after,
.nav-text-link-menu:focus::after,
.nav-text-link-menu.ntx::after {
  opacity: 1;
}

.nav-text-link-menu:hover,
.nav-text-link-menu:focus {
  color: #404bbf;
}
*/
/* mobile menu navigation up*/

/* mobile menu - adress up*/
.address-menu {
  font-style: normal;
  margin-left: auto;
}

.address-text-menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.address-text-link-menu {
  padding-bottom: 48px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-text-link-menu:hover,
.address-text-link-menu:focus {
  color: #404bbf;
}

.address-text-link-menu.ktk {
  color: #404bbf;
}

.sosic-menu {
  display: flex;
  justify-content: center;
  gap: 40px;
}
/* mobile menu - adress down*/
/* HiroW section */
.main-text-container {
  display: block;
  align-items: center;
}

.main-text {
  display: block;
  align-items: center;
  padding-top: 72px;
  padding-bottom: 72px;
  margin: auto;
}

.main-text {
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg-mob.jpg);
  max-width: 320px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .main-text {
    background-image: url("../images/Dark-bg-mob-2x.jpg");
  }
}

.main-text-hederone {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin-left: auto;
  margin-right: auto;
}

.main-text-button {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  margin-top: 72px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-text-button:hover,
.main-text-button:focus {
  background-color: #404bbf;
}

/* kosmonaut */
.main-list {
  padding-top: 96px;
  padding-bottom: 96px;
}

.main-list-container {
  display: block;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-listt {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.main-listt-item {
  width: 100%;
}

.zalypicons {
  display: none;
}

.main-listt-hedthree {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.main-listt-p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
/* our team 4 foto */
.main-form {
  background: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.main-form-container {
  display: block;
  align-items: center;
  padding-left: 28px;
  padding-right: 28px;
}

.main-form-text-hedertwo {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.img {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.img-box {
  background: #fff;
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.ofisnui-rab {
  padding-top: 32px;
  padding-bottom: 32px;
}

.img-box-h {
  text-align: center;
  margin-bottom: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.img-box-p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.sosic {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.sosico {
  width: 40px;
  height: 40px;
}

.icon {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon:hover,
.icon:focus {
  background-color: #404bbf;
}

.iconz {
  fill: #f4f4fd;
}
/* Our Portfolio */
.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-hedtwo {
  margin-bottom: 72px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.card {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
}
.card-item {
  width: 100%;
  transition: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card-item:nth-child(3n) {
  margin-right: 0;
}

.card-item:nth-child(-n + 3) {
  margin-bottom: 0;
}

.card-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

  cursor: pointer;
}

.card-item:hover .imgg-box-p {
  transform: translateY(0);
}

.portf-image .imgg-box-p {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ofisnui-rabu {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.imgg-box-h {
  margin-bottom: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.imgg-box-p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.portf-image {
  position: relative;
  overflow: hidden;
}
/* Futer */

.fut-conta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.fut-co {
  margin: auto;
}

.footer-body {
  background: #2e2f42;
  padding: 100px 0;
}

.text-logo-fut {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
}

.footer-text {
  max-width: 288px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-bottom: 72px;
}

.span-logo-fut {
  color: #f4f4fd;
}

.cosial-content {
  margin: auto;
}
.socia-me {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sosic-fut {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.sosico-fut {
  width: 40px;
  height: 40px;
  margin-bottom: 72px;
}

.icon-fut {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-fut:hover,
.icon-fut:focus {
  background-color: #31d0aa;
}

.iconz {
  fill: #f4f4fd;
}

.subscribe {
  margin: auto;
}

.subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.order-form-label {
}

.input-label {
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  outline: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 16px;
}

input::placeholder {
  color: #ffffff;
}

.input-label:focus {
  border-color: #31d0aa;
}

.submit-btn {
  width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #31d0aa;
}

.iconz-btn {
  margin-left: 16px;
}

/* planshet 768px */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /* header */
  .rodzerz-btn {
    display: none;
  }

  .mob-menu {
    display: none;
  }

  .nav-text {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .address {
    font-style: normal;
    display: block;
  }

  .header-navig {
    display: flex;
    align-items: center;
  }

  .logo-text {
    padding: 24px 0;
    margin-right: 120px;
  }

  .nav-text-link {
    position: relative;
    display: block;
    padding: 24px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-text-link.ntl {
    color: #404bbf;
  }

  .nav-text-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-text-link:hover::after,
  .nav-text-link:focus::after,
  .nav-text-link.ntl::after {
    opacity: 1;
  }

  .nav-text-link:hover,
  .nav-text-link:focus {
    color: #404bbf;
  }

  .address-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-text-link {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-text-link:hover,
  .address-text-link:focus {
    color: #404bbf;
  }
  /* HiroW section */

  .main-text {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg.jpg);
    max-width: 768px;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .main-text {
      background-image: url("../images/Dark-bg-2x.jpg");
    }
  }

  .main-text {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .main-text {
    max-width: 768px;
  }

  .main-text-hederone {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    max-width: 496px;
  }

  .main-text-button {
    margin-top: 36px;
  }

  /* kosmonaut */
  .main-listt-item {
    width: calc((100% - 24px) / 2);
  }

  .main-listt {
    gap: 72px 24px;
  }
  /* our team 4 foto */
  /* .main-form-container .container {
    max-width: 584px;
  }-------треба це ? замість падінг 92*/

  .main-form-container {
    padding-left: 108px;
    padding-right: 108px;
  }
  .img {
    max-width: 100%;
    gap: 64px 24px;
  }

  .img-box {
    width: calc((100% - 56px) / 2);
  }

  /* Our Portfolio */
  .portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .card {
    column-gap: 24px;
    row-gap: 48px;
  }
  .card-item {
    width: calc((100% - 24px) / 2);
  }
  /* Futer */
  .fut-conta {
    display: flex;
    align-items: baseline;
    padding-left: 108px;
    padding-right: 108px;
  }
  .fut-co {
    margin-left: 0;
    margin-right: 0;
  }
  .text-logo-fut {
    display: inline-block;
  }

  /* .footer-text {
    max-width: 288px;
  } */
  .socia-me {
    display: inline-block;
  }
  .cosial-content {
    margin-left: auto;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .subscribe {
    margin: 0;
  }

  .subscribe-text {
    display: inline-block;
  }

  .footer-text {
    max-width: 288px;
  }

  .input-label {
    width: 264px;
  }
  .order-form {
    display: flex;
    flex-direction: row;
    row-gap: 24px;
  }
  .submit-btn {
    margin: 0;
  }
}

/* komputir 1158 px */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  /* Futer */
  .text-logo-fut {
    margin-bottom: 16px;
  }

  .footer-text {
    max-width: 264px;
    margin-bottom: 0px;
  }
  .fut-co {
    margin-right: 120px;
  }

  .fut-co {
    margin-left: 0;
    margin-right: 0;
  }

  .footer-body {
    background: #2e2f42;
    padding: 100px 0;
  }

  .subscribe {
    margin-left: auto;
  }

  /* header */

  .logo-text {
    margin-right: 76px;
  }

  .address-text {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .address-text-link {
    padding: 24px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  /* HiroW section */

  .main-text {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    max-width: 1440px;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .main-text {
      background-image: url("../images/people-office-2x.jpg");
    }
  }

  .main-text {
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .main-text {
    max-width: 1440px;
  }

  .main-text-button {
    margin-top: 48px;
  }

  /* kosmonaut */

  .main-list {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .main-listt {
    gap: 24px;
  }

  .main-listt-item {
    width: calc((100% - 72px) / 4);
  }

  .zalypicons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }

  .main-listt-hedthree {
    font-weight: 500;
    font-size: 20px;
  }

  .main-listt-p {
    font-weight: 400;
  }
  /* our team 4 foto */
  .main-form {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .img {
    gap: 24px;
  }

  .img-box {
    width: calc((100% - 72px) / 4);
  }
  /* Our Portfolio */
  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .card-item {
    width: calc((100% - 48px) / 3);
  }
}
<picture>
  <source srcset="./images/Mark.jpg 1x, ./images/Mark-2x.jpg 2x"/>
  <img src="./images/Mark.jpg"
  width="264"
  height="260"
  alt="Mark Guerrero" />
</picture>













<picture>
  <source srcset="./images/girl.jpg 1x, ./images/girl-2x.jpg 2x"
  media="(min-width:1158px)" />
  <source srcset="./images/girl-p.jpg 1x, ./images/girl-p-2x.jpg 2x"
  media="(min-width:768px)" />
  <source srcset="./images/girl-mob.jpg 1x, ./images/girl-mob-2x.jpg 2x"
  media="(max-width:767px)" />
  <img src="./images/girl.jpg" width="360" height="300" alt="Online Courses" />
</picture>